<!DOCTYPE html>
<html>

<body>
    <section>
        <h2>BLOG</h2>
        <p>Carlos Navarro Juan</p>
        <img src="/images/foto.jpg" alt="Foto del autor" width="200">
        <p> Carlos Navarro es alumno de la etsit y este es su CV que va a presentar.</p>
    </section>
</body>

</html>